body {
    padding: 0 3rem 0 3rem;
    margin: 0 auto;
    position: absolute;
    display: block;
}

header {
    background: url(../images/flywheel.jpg);
    color: #fff;
    height: 15rem;
    width: 100%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    opacity: 75%;
}

nav a {
    color: #000000;
    background: #fff;
    padding: 1rem 4rem 1rem 4rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    color: #fff;
    background-color: #000
}

.active:active {
    background-color: #8b8b8b;
    color: #03b384;
}

.left {
    background: #9a9e4c;
    position: relative;
    float: left;         
}

.left img {
    width: 15rem;
    margin: 2rem;
    background-color: #9a9e4c;
    border: #000;
    display: block;
    border: 5px solid #000;
}

.right {
    padding: 2rem 1rem 3rem 20rem;
    font-size: 20px;
}

.right h2 {
    color: #123352;
    text-transform: uppercase;
    font-weight: bolder;
}